@model List<Product>


<ul>
    @foreach (var product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="~/@product.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text">@product.Description</p>
                <p class="card-text">@product.Category?.Name</p>
                <div class="row">
                    @foreach (var tag in product.ProductTags)
                    {
                        <a class="btn btn-danger">@tag.Tag.Name</a>
                    }
                </div>
                <a asp-area="Admin" asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-primary">Delete</a>
            </div>
        </div>
    }
</ul>

<div class="mb-3">
    <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="btn btn-outline-secondary m-2">Back</a>
</div>
